*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding: 90px 20px 0px;
}

.header{
    background-color: #212529;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link{
    color: #ffffff;
    text-decoration: none;
}

.nav-logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu{
    display: flex;
    justify-content: space-around;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    margin: 0 8px;
    line-height: 80px;
    font-size: 18px;
    text-transform: lowercase;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 50px;
}
.nav-menu-link:hover{
    background-color: #000000;
    transition: 0.5s;
}

section[id]{
    scroll-margin-top: 80px;
}

.section{
    background-color: cornflowerblue;
    height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
}

footer{
    background-color: #212529;
    color: #ffffff;
}