.main{
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;   
}

.container__form--login{
    max-width: 700px;
    padding: 2rem 4rem;
}

.form__title, .form__footer{
    align-self: center;
}

.form__title{
    margin-bottom: 30px;
}

.button--login{
    margin-bottom: 20px;
}

@media screen and (max-width: 800px){
        .container__form--login{
        width: 100vw;
        height: 100vh;
        padding: 0;
    }
    
    .form__title, .form__footer{
        align-self: center;
    }
    
    .button--login, .form__title{
        margin-bottom: 90px;
    }

}