.main__contact{
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;   
}

.contact__container--login{
    max-width: 800px;
    padding: 6rem;
}

.contact__form__title, .form__footer{
    align-self: center;
}

.form__button, .contact__form__title{
    margin-bottom: 50px;
}