:root {
    --bg: #F5F5F7;
    --bg-card: #FFF;
    --font: #1D1D1F;
    --font-link: #006DDB;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter',sans-serif;
}

body{
    margin: 0;
    /* padding-top: 50px; */
    background-color: var(--bg);
    color: var(--font);
}
    
img{
    max-width: 100%;
}

button{
    border: none;
    background-color: var(--font-link);
    padding: 12px 90px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 18px;
    color: #FFF;
    font-weight: 500;
    cursor: pointer;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 1400px;
    padding: 28px;
}

.card{
    background-color: var(--bg-card);
    border: 1.2px solid hsla(0,0%,51.4%,.16);
    border-radius: 20px;
    padding: 40px;
}

/* ====================================================================================================== */

.header{
    background-color: hsla(0,0%,100%,.7);
    backdrop-filter: blur 5px;
    position: fixed;
    /* margin-top: -50px; */
    margin-left: 0;
    width: 100vw;
    padding: 0 28px;
    line-height: 50px;
    border-bottom: 1px solid #e2e2e2;
}

.nav__logo span{
    font-size: 1.1em;
    font-weight: 600;
}

.nav{
    display: flex;
    justify-content: space-between;
    height: 50px;
    max-width: 1250px;
    margin: 0 auto;
}

.nav__menu{
    display: flex;
    justify-content: space-between;
}

.nav__menu__item{
    list-style: none;
    margin: 0 1rem;
}

.nav__menu__link,
.nav__menu__link:visited,
.nav__menu__link--login{
    text-decoration: none;
    color: var(--font);
}

.nav__menu__link--active{
    color: #006DDB;
}

.nav__menu__link--login{
    color: var(--font-link);
}

.nav__button{
    display: none;
}

/* ====================================================================================================== */

.cover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.cover__profile{
    margin-bottom: 4rem;
}

.cover__profile img{
    width: 300px;
    border-radius: 50%;
    border: 3px solid black;
}

.cover__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover__text span{
    font-size: 30px;
}

.cover__text h1{
    font-size: 92px;
}

/* ====================================================================================================== */

.education{

}

.education__item{
    width: 100%;
    max-width: 1400px;
    padding: 2rem;
    margin-bottom: 20px;
}

.education__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.education__header__status{
    border-radius: 5px;
    padding: 2px 5px;
    color: #FFF;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.07rem;
}

.education__header__status--encurso{
    background-image: linear-gradient(50deg,#b94cdb,#e26092 52%,#fe815e);
}

.education__header__status--completo{
    background-image: linear-gradient(225deg,#5af141,#2a9dce);
}

/* ====================================================================================================== */

.contact{
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact__form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 600px;
}

.contact__form__title{
    font-size: 35px;
}

.contact__form__wrap{
    display: flex;
    flex-direction: column;

}

.contact__form__label{
    font-family: inherit;
    font-weight: 500;
    margin-bottom: 3px;
}

.contact__form__input{
    height: 48px;
    width: 400px;
    padding: 0 18px;
    background-color: var(--bg);
    border: 2px solid hsla(0,0%,53.3%,.2);
    border-radius: 14px;
}

.contact__form__input--message{
    resize: none;
    height: 130px;
}

.contact__info__wrap{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    height: 600px;
}

.contact_info__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFF;
    background-color: #006DDB;
}

.contact_info__item i{
    font-size: 70px;
    margin-bottom: 12px;
}

.contact_info__item a{
    text-decoration: none;
    color: inherit;
}


/* ====================================================================================================== */
@font-face {
    font-family: 'Ibm plex mono';
    src: url('https://assets.website-files.com/605739cf94ca6b3bfeae0833/61002974f9938d1a4a04f9d6_ibm-plex-mono-v6-latin-500.woff2') format('woff2'), url('https://assets.website-files.com/605739cf94ca6b3bfeae0833/61002974d552893694d0c411_ibm-plex-mono-v6-latin-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('https://assets.website-files.com/605739cf94ca6b3bfeae0833/610e5a81f7ff773290bd827c_inter-v3-latin-600.woff2') format('woff2'), url('https://assets.website-files.com/605739cf94ca6b3bfeae0833/610e5a8135ff85ed15e0129d_inter-v3-latin-600.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('https://assets.website-files.com/605739cf94ca6b3bfeae0833/610e5a817de9014cc3b59443_inter-v3-latin-500.woff2') format('woff2'), url('https://assets.website-files.com/605739cf94ca6b3bfeae0833/610e5a808461e57b774188fe_inter-v3-latin-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('https://assets.website-files.com/605739cf94ca6b3bfeae0833/610e5a810625e1731fb8af32_inter-v3-latin-regular.woff2') format('woff2'), url('https://assets.website-files.com/605739cf94ca6b3bfeae0833/610e5a8135ff85176ee0129e_inter-v3-latin-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.proyects{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 3rem;
    grid-area: auto;
}

.card--proyects{
    background-color: var(--font);
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
}