:root {
    --bg: #F5F5F7;
    --bg-card: #FFF;
    --font: #1D1D1F;
    --font-link: #006DDB;
    --border: #e2e2e2;

    --gradient-red: linear-gradient(50deg,#b94cdb,#e26092 52%,#fe815e);
    --gradient-green: linear-gradient(225deg,#5af141,#2a9dce);
    --gradient-blue: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
    --gradient-yellow: linear-gradient( 135deg, #FFF886 10%, #F072B6 100%);
    --gradient-black: linear-gradient( 135deg, #EE9AE5 10%, #5961F9 100%);
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter',sans-serif;
}

body{
    margin: 0;
    /* padding-top: 50px; */
    background-color: var(--bg);
    color: var(--font);
    box-sizing: border-box;
}
    
img{
    max-width: 100%;
}

button{
    border: none;
    /* background-color: var(--font-link); */
    background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
    padding: 12px 90px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 18px;
    color: #FFF;
    font-weight: 500;
    cursor: pointer;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 28px;
    
}

.footer{
    display: flex;
    justify-content: center;
}

.footer__wrap{
    text-align: center;
    border-top: 1px solid var(--border);
    padding: 0.8rem 0;
    color: #999;
    width: 80vw;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 1400px;
    width: 100%;
    margin-bottom: 2rem;
}

.card{
    background-color: var(--bg-card);
    border: 1.2px solid hsla(0,0%,51.4%,.16);
    border-radius: 20px;
    padding: 40px;
}

/* ====================================================================================================== */

.header{
    background-color: hsla(0,0%,100%,.7);
    backdrop-filter: blur 5px;
    position: fixed;
    /* margin-top: -50px; */
    margin-left: 0;
    width: 100vw;
    padding: 0 28px;
    line-height: 50px;
    border-bottom: 1px solid var(--border);
}

.nav__logo{
    min-width: 161px;
}

.nav__logo span{
    display: inline;
    font-size: calc(1rem + 0.2vw);
    font-weight: 600;
}

.nav{
    display: flex;
    justify-content: space-between;
    height: 50px;
    max-width: 1250px;
    margin: 0 auto;
}

.nav__menu{
    display: flex;
    justify-content: space-between;
}

.nav__menu__item{
    list-style: none;
    margin: 0 1rem;
}

.nav__menu__link,
.nav__menu__link:visited,
.nav__menu__link--login{
    text-decoration: none;
    color: var(--font);
}

.nav__menu__link--active{
    color: var(--font-link);
}

.nav__menu__link--login{
    color: var(--font-link);
}

.nav__button{
    display: none;
}

/* ====================================================================================================== */

.cover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.cover__profile{
    margin-bottom: 4rem;
}

.cover__profile img{
    width: 300px;
    border-radius: 50%;
    border: 3px solid var(--border);
    box-shadow: 0 0 teal;
    
}

.cover__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

.cover__text span{
    font-size: calc(1em + 1vw);
}

.cover__text h1{
    font-size: calc(1em + 7vw);
}

/* ====================================================================================================== */

.education{

}

.education__item{
    width: 100%;
    max-width: 1400px;
    padding: 2rem;
    margin-bottom: 20px;
}

.education__header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 15px;
}

.education__header h2{
    margin-bottom: 0.4rem;
}

.education__header__status{
    border-radius: 5px;
    padding: 2px 5px;
    color: #FFF;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.07rem;
}

.education__header__status--encurso{
    /* background-image: linear-gradient(50deg,#b94cdb,#e26092 52%,#fe815e); */
    background-image: var(--gradient-red)
}

.education__header__status--completo{
    /* background-image: linear-gradient(225deg,#5af141,#2a9dce); */
    background-image: var(--gradient-green);
}

/* ====================================================================================================== */

.contact{
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
}

.contact__container{
    width: 100%;
    max-width: 650px;
    
}

.contact__form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* height: 600px; */
    width: 100%;
}

.contact__form__title{
    font-size: 35px;
}

.contact__form__wrap{
    display: flex;
    flex-direction: column;

}

.contact__form__label{
    font-family: inherit;
    font-weight: 500;
    margin-bottom: 3px;
}

.contact__form__input{
    height: 48px;
    padding: 0 18px;
    background-color: var(--bg);
    border: 2px solid hsla(0,0%,53.3%,.2);
    border-radius: 14px;
}

.contact__form__input--message{
    resize: none;
    height: 130px;
}

.contact__info__wrap{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto auto;
    gap: 2rem;
    height: 580px;
    width: 100%;
    max-width: 600px;
}

.contact_info__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFF;
    border: none;
    
 /*    width: 200px;
    height: 200px;
    max-height: 300px; */
}

.contact_info__item i{
    font-size: 70px;
    margin-bottom: 12px;
}

.contact_info__item a{
    text-decoration: none;
    color: inherit;
}

.contact_info__item:first-child{
    background-image: var(--gradient-black);
}

.contact_info__item:nth-child(2){
    background-image: var(--gradient-blue);
}

.contact_info__item:nth-child(3){
    background-image: var(--gradient-yellow)
}

.contact_info__item:nth-child(4){
    background-image: var(--gradient-red);
}

/* ====================================================================================================== */
@font-face {
    font-family: 'Ibm plex mono';
    src: url('https://assets.website-files.com/605739cf94ca6b3bfeae0833/61002974f9938d1a4a04f9d6_ibm-plex-mono-v6-latin-500.woff2') format('woff2'), url('https://assets.website-files.com/605739cf94ca6b3bfeae0833/61002974d552893694d0c411_ibm-plex-mono-v6-latin-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('https://assets.website-files.com/605739cf94ca6b3bfeae0833/610e5a81f7ff773290bd827c_inter-v3-latin-600.woff2') format('woff2'), url('https://assets.website-files.com/605739cf94ca6b3bfeae0833/610e5a8135ff85ed15e0129d_inter-v3-latin-600.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('https://assets.website-files.com/605739cf94ca6b3bfeae0833/610e5a817de9014cc3b59443_inter-v3-latin-500.woff2') format('woff2'), url('https://assets.website-files.com/605739cf94ca6b3bfeae0833/610e5a808461e57b774188fe_inter-v3-latin-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('https://assets.website-files.com/605739cf94ca6b3bfeae0833/610e5a810625e1731fb8af32_inter-v3-latin-regular.woff2') format('woff2'), url('https://assets.website-files.com/605739cf94ca6b3bfeae0833/610e5a8135ff85176ee0129e_inter-v3-latin-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.proyects{
/*     display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 3rem; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.card--proyects{
    background-color: var(--font);
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    max-width: 400px;
    height: 250px;
    max-height: 400px;
}