/*
Colores

Azul 1: #0089e4
Azul 2: #2597f4
Azul 3: #4fafff

Naranja 2: #e9791a
naranja 3: #ff9a3e

Lavender #6C648B

*/


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
html { font-family: 'Inter', sans-serif; }


:root{
    --bg: #F5F5F7;
    --bg-card: #FFF;
    --font: #1D1D1F;
    --font-link: #006DDB;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
/*     padding: 90px 20px 0px; */
    margin: 0;
    margin-top: 30px;
    background-color: var(--bg);
    color: var(--font);
}

img{
    max-width: 100%;
}

/* 
============== NAVMENU SECCTION ==============
*/

.header{
    background-color: #212529;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 1400px;
    margin: 0 auto;
    color: #ffffff;

}

.nav-logo{
    text-transform: uppercase;
}

.nav-logo span{
    color: #0089e4;
}

.nav-menu{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-menu-item{
    list-style: none;
    font-size: 18px;
    text-transform: lowercase;
    width: max-content;
}

.nav-menu-item a{
    color: #ffffff;
    text-decoration: none;
}

.nav-menu-link{

}

.nav-menu-link:hover{
    
    color: #0089e4;
    border-bottom: 2px solid #0089e4;
}

.nav-button{
    color: #ffffff;
    border: none;
    background: none;
    font-size: 30px;
    padding: 0 30px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}

/*Menu en mobile*/
@media (max-width: 768px){
    body{
        padding-top: 70px;
    }

    .header{
        height: 60px;
    }

    .nav-logo{
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }

    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: darkblue;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 16px);
        overflow-y: auto;

        left: 100%;
        transition: 0.3s;
    }

    .nav-menu-item{
        line-height: 70px;
    }

/* NO SE PORQUE NO FUNCIONA EL ACTIVE*/
    .nav-menu-link:hover,
    .nav-menu-link:active{
        background: none;
        color: darkorange;
    }

    .nav-button{
        display: block;
    }
    
    .nav-menu_visible{
        left: 0;
        transition: 0.3s;
    }
}

/*agrega un margen a cada section para que no sea tapada por el menu*/
section[id]{
    scroll-margin-top: 80px;
}

.main{
    margin: 0 auto;
    width: 80vw;
}

.section{
    width: 100%;
    min-height: 100vh;
    margin-bottom: 3rem;
    /* max-width: 1400px; */
}

/* 
============== ABOUT SECCTION ==============
*/

.about{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.about-description{
    max-width: 800px;
    font-size: 1.4rem;
}

.about h1{
    font-size: 2em;
    margin-bottom: 3%;
}

.about span{
    color: #0089e4;
}

.about-img{
    margin: 0;
    padding: 0;
}

.about-img img{
    border-radius: 8px;
    max-height: 600px;
    width: 100%;
    margin-right: 2rem;
}

/* 
============== PROYECTS SECCTION ==============
*/

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.card{
    max-width: 350px;
    border-radius: 8px;
    margin: 1rem;
    box-shadow: 0 0 12px #d7d7d7;
}

.header-card img{
    border-radius: 8px 8px 0 0;
    max-height: 200px;
    height: 200px;
    width: 100%;
}

.footer-card{
    padding: 1rem;
}

.footer-card a{
    background: #25c4d8;
    color: #fff;
    padding: .2rem .5rem;
    border-radius: 4px;
    text-decoration: none;
}

/* 
============== CONTACT SECCTION ==============
*/

.contact{
/*     max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    align-items: center; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;   
}


.form-title{
    font-size: 1.9rem;
}

.form{
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    height: 450px;
    max-width: 400px;
    max-height: 600px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 1em;
}

.form-input{
    font-family: inherit;
    font-size: 1rem;
    padding: .8em 1em;
}

.form-input--message{
    resize: none;
    height: 160px;

}

.form-submit{
    font-family: inherit;
}

.contact-info{
    border: 1px solid hsla(0,0%,51.4%,.16);
border-radius: 28px;
    display: flex;
    flex-direction: column;
    
    width: 500px;
    max-height: 450px;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.contact-info h2{


}

.contact-info-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}

.contact-info-item{
    text-align: center;
}

.contact-info-item a{
    text-decoration: none;
}

.contact-info i{
    font-size: 2.8rem;
}

/* 
============== FOOTER SECCTION ==============
*/

.footer{
    background-color: #212529;
    color: #ffffff;
}


@font-face {
    font-family: 'Ibm plex mono';
    src: url('https://assets.website-files.com/605739cf94ca6b3bfeae0833/61002974f9938d1a4a04f9d6_ibm-plex-mono-v6-latin-500.woff2') format('woff2'), url('https://assets.website-files.com/605739cf94ca6b3bfeae0833/61002974d552893694d0c411_ibm-plex-mono-v6-latin-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Inter';
    src: url('https://assets.website-files.com/605739cf94ca6b3bfeae0833/610e5a81f7ff773290bd827c_inter-v3-latin-600.woff2') format('woff2'), url('https://assets.website-files.com/605739cf94ca6b3bfeae0833/610e5a8135ff85ed15e0129d_inter-v3-latin-600.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Inter';
    src: url('https://assets.website-files.com/605739cf94ca6b3bfeae0833/610e5a817de9014cc3b59443_inter-v3-latin-500.woff2') format('woff2'), url('https://assets.website-files.com/605739cf94ca6b3bfeae0833/610e5a808461e57b774188fe_inter-v3-latin-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Inter';
    src: url('https://assets.website-files.com/605739cf94ca6b3bfeae0833/610e5a810625e1731fb8af32_inter-v3-latin-regular.woff2') format('woff2'), url('https://assets.website-files.com/605739cf94ca6b3bfeae0833/610e5a8135ff85176ee0129e_inter-v3-latin-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }